*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.mesage{
    background-color: #19469A;
    width: 38%;
    height: 670px;
    border-left: 2px solid white;
}
.teamsearch{
    padding: 10px 20px;
}
.teamsearch input{
    width: 100%;
    border-radius: 100px;
    border: 0;
    height: 35px;
    padding-left: 10px;
}
.teamsearch button{
    position: absolute;
   left: 659px;
   border-radius: 40px;
   padding: 4.5px 16px;
   border: 0;
   background-color: rgb(244, 244, 244);
}
.createteam{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8971C;
    width: 200px;
    border-radius: 7px;
    left: 355px;
    top: 300px;
    padding: 30px;
}
.createteam a{
    color: white;
    border: none;
    text-align: center;
    
}