*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background-color: #19469A;
    height: 100vh;
    color: white;
    width: 180px;
}
.profileimg{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileimg p{
    font-size: 12px;
    text-align: left;
    margin-top: 0;
}
.link{
  display: flex; 
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
    background-color: #F8971C;
    color:#ffffff ;
    transition: all 0.5s;
}
.active{
    background-color: #F8971C;
}
