*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.chat-container {
  width: 45%;
  height: 665px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.messages-container {
  max-height: 80vh;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  max-width: 80%;
}

.sent {
  background-color: #19469A;
  color: white;
  margin-left: auto;
  text-align: right;
}

.received {
  background-color: #e9ecef;
  color: #333;
  margin-right: auto;
}

.message-username {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.message-text {
  margin: 0;
  font-size: 16px;
}

.message-timestamp {
  font-size: 12px;
  color: #ffffff;
  margin-top: 5px;
}

.message-form {
  display: flex;
  gap: 10px;
}

.message-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.btn-send {
  background-color: #335ead;
  color: white;
}

.btn-send:hover {
  background-color: #19469A;
}