*{
  padding: 0;
  margin: 0; 
}
.create{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  width: 50vh;
  border: 2px solid #6863ffbb;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(2, 109, 172, 0.5);
}
.up{
  color: #19469A;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  margin: 10px;
  padding: 10px;
}
.submit{
  position: relative;
  color: white;
  left: 5%;
  background-color: rgb(129, 138, 151);
  padding: 5px 90px;
  border-radius: 3px;
  border: 0;
  font-weight: light;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.log input{
  width: 100%;
  padding: 10px 50px;
  border: 0;
  border-radius: 3px;
  background-color: rgba(2, 109, 172, 0.1);
}
.log{
  margin: 10px;
}
.submit:hover{
  background: #19469A;
  padding: 6px 92px;
  transform: scale(1.1);
}
.log input:hover{
  border: 0.5px solid rgba(2, 109, 172, 0.5);
  padding: 14px 18px;
}