*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.ai{
    display: flex;
}
.me{
    width: 100%;
}
.sideai{
    display: flex;
    border-bottom: 2px solid #F8971C;
    
}
.aichatsec{
    display: flex;
}