*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.ai{
    display: flex;
}
.me{
    width: 100%;
}
.sideai{
    display: flex;
    border-bottom: 1px solid #F8971C;
    background-color: red;
}
.aichatsec{
    display: flex;
}