
.team{
    display: flex;
}
.hey{
    width: 100%;
}
.teamhead{
    border-left: 2px solid white;
    border-bottom: 1px solid #F8971C;
}
.team-logo{
    width: 180px;
    padding: 20px;
}
.sidesection{
    display: flex;
    width: 100%;
}
.text{
    width: 100%;
}