*{
    margin: 0;
    padding: 0;
}
.now{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(2, 109, 172, 0.5);
    height: 50vh;
    width: 60vh;
    border: 2px solid #6863ffbb
}
.top{
    color: #19469A;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.inputes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.go{
   padding: 10px 50px;
}
.go input{
    padding: 10px 91px;
    border: 0;
    border-radius: 3px;
    background-color: rgba(2, 109, 172, 0.1);
}
.go input:hover{
    border: 0.5px solid rgba(2, 109, 172, 0.5);
}
.yes{
    padding: 7px 140px;
    background-color: rgb(129, 138, 151);
    color: white;
    border: 0;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    
}
.yes:hover{
    background-color: #19469A;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid rgba(2, 109, 172, 0.5);
    transform: scale(1.1);

}
.forget{
    color: black;
    text-decoration: none;
    color: #6863ffbb;
}